@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

$bg: white;
$color1: #ff0055; //Laranja
$color2: #CECECE; //cinza claro
$color3: #2F2F2F; //cinza escuro
$color4: #a2a2a2; //cinza medio
$delay:300ms;
$border-radius: 2em;
$buttonHeight: 2em;